@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
    height: 10000px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(205, 219, 255);
}

.main-content-1 {
    background-color: #e3f0ff;
    border-top: 1px solid #191919;
    border-bottom: 1px solid #191919;
    width: 100%;
    height: 300vh;
}

.sticky {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fafafa;
}

.title {
    border-top: 1px solid #191919;
    background-color: #fff;
}

.header {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 4vh;
    border-bottom: 1px solid #191919;
    display: flex;
    align-items: center;
    padding-left: 5vh;
    font-size: 2vh;
}

.start-screen {
    padding-top: 4vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    text-align: center;
    background-image: url(https://i.ytimg.com/vi/7gJcPh7x4iU/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky-title {
    width: 100%;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: black;
}

.title {
    border-top: 1px solid #191919;
    background-color: #fff;
    height: 6vh;
    display: flex;
    align-items: center;
    font-size: 2vh;
    padding-left: 3vh;
    background-color: black;
    color:white;
}


.content1 {
    background-image: url(https://i.ytimg.com/vi/Vn7qGBDNYaw/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content2 {
    background-image: url(https://img.techplanet.today/800x,jpeg/https://techplanet.today/storage/posts/2022/07/56/62c9ad77a5a95.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content3 {
    background-image: url(http://img.etnews.com/news/article/2018/08/03/cms_temp_article_03091423716841.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content4 {
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxOTAyMDRfMTgw/MDAxNTQ5MjA5Mjg0NjAz.7BmHbGJM4ZGOm9TscZB4IwBJdHcg8ozBEqIuLCLgYv0g.xyTlFdXA7Nox-eHLnkTt9cN3kckUc0O-jCg1yw-BDFMg.JPEG.lara46/20190116-00000012-flix-000-view.jpg?type=w800);
    background-repeat: no-repeat;
    background-size: cover;
}